In [8]:
import pandas as pd
# Show max cols
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [9]:
# 1) Load tables

anime_meta = pd.read_csv("anime.csv")               # MAL_ID, Name, Score, Genres, …
synopsis   = pd.read_csv("anime_with_synopsis.csv") # MAL_ID, sypnopsis

In [10]:
# 2) Fix typo in synopsis column
synopsis = synopsis.rename(columns={"sypnopsis": "Synopsis"})

# 3) Merge anime ID with anime synopsis
# Docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html
df = anime_meta.merge(
    synopsis[["MAL_ID", "Synopsis"]],
    on="MAL_ID",
    how="left"
)

In [ ]:
# 4) Select and rename columns for clarity
df = df.rename(columns={
    "MAL_ID": "anime_id",
    "Name": "anime_name",
    "Genres": "Genres",
    "Score": "Score",
    "Synopsis": "Synopsis"
})[["anime_name", "anime_id", "Genres", "Score", "Synopsis"]]

In [13]:
# 5) Save merged data to CSV
# Docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
output_path = "anime_meta.csv"
df.to_csv(output_path, index=False)

# 6) Confirmation print
print("Merged anime metadata saved to", output_path, df.shape[0], "rows and", df.shape[1], "columns.")

Merged anime metadata saved to anime_meta.csv 17562 rows and 5 columns.

In [ ]:
df = pd.read_csv(output_path)
df.head()

,anime_name,anime_id,Genres,Score,Synopsis
0,Cowboy Bebop,1,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",8.78,"In the year 2071, humanity has colonized sever..."
1,Cowboy Bebop: Tengoku no Tobira,5,"Action, Drama, Mystery, Sci-Fi, Space",8.39,"other day, another bounty—such is the life of ..."
2,Trigun,6,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",8.24,"Vash the Stampede is the man with a $$60,000,0..."
3,Witch Hunter Robin,7,"Action, Mystery, Police, Supernatural, Drama, ...",7.27,ches are individuals with special powers like ...
4,Bouken Ou Beet,8,"Adventure, Fantasy, Shounen, Supernatural",6.98,It is the dark century and the people are suff...

In [15]:
df.describe()

           anime_id
count  17562.000000
mean   21477.192347
std    14900.093170
min        1.000000
25%     5953.500000
50%    22820.000000
75%    35624.750000
max    48492.000000