<center>
    <a><img src="https://assets.aboutamazon.com/dims4/default/618814b/2147483647/strip/true/crop/1279x720+0+0/resize/1240x698!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F4d%2F45%2Fd46f0da841cd85b66504278d4003%2Fcrunchyrollpv.jpg" width=400> </a>    
</center>
<h1 align=center><font size = 5>Anime Recommendation Model - Demo</font>
<h1 align=center><font size = 5>April 30, 2025</font>

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer  # For converting text data into TF-IDF vectors
from sklearn.metrics.pairwise import cosine_similarity  # For computing cosine similarity between vectors
from scipy.spatial.distance import pdist, squareform  # For pairwise distance computations and converting to a square matrix
import pickle

import pandas as pd, numpy as np, pickle, os
from scipy.sparse import csr_matrix, vstack
from sklearn.metrics.pairwise import cosine_similarity
from tqdm.notebook import tqdm

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# Import function from our model
from models import *

In [3]:
#---------- load Data----------
with open("rating_df_final.pk", "rb") as f:
    rating_df_clean = pickle.load(f)
with open("anime_df_final.pk", "rb") as f:
    anime_df_clean = pickle.load(f)

<h1>Welcome to our Anime Recommendation Model<h1><ln><cr>
<h5>Lets Get you started with some fresh movies<h5>

In [4]:
hybrid_npr(rating_df_clean, anime_df_clean)

                           anime_name  anime_id
0    Fullmetal Alchemist: Brotherhood      5114
1                         Steins;Gate      9253
2                          Death Note      1535
3  Code Geass: Hangyaku no Lelouch R2      2904
4                      Kimi no Na wa.     32281
5              Hunter x Hunter (2011)     11061
6                  Shingeki no Kyojin     16498
7     Code Geass: Hangyaku no Lelouch      1575
8       Sen to Chihiro no Kamikakushi       199
9                      Koe no Katachi     28851

<h1>I know you like one of those, come on choose one. Or else<h1>

In [5]:
prof_choooooooose = "Fullmetal Alchemist: Brotherhood"

In [6]:
HybridContent(prof_choooooooose, anime_df_clean)

0                                Fullmetal Alchemist
1      Fullmetal Alchemist: The Sacred Star of Milos
2    Fullmetal Alchemist: The Conqueror of Shamballa
3          Fullmetal Alchemist: Brotherhood Specials
4                  Fairy Tail Movie 1: Houou no Miko
5                               One Piece Film: Gold
6                                         Fairy Tail
7                           One Piece: Heart of Gold
8                           Fairy Tail: Final Series
9                                  Fairy Tail x Rave
Name: anime_name, dtype: object

<h2>Hey, how's the experience so far, im sure the content based hybrid did well for you <h2>

<h1>Big dawg we noticed you rated some animes, shall we update your recommendations? <h1>

In [7]:
# Lets start with one for now
watched = []

watched.append(input("Enter the name of the anime you have watched: "))

<h1>because you are soooo special we are gonna award you a VIP user_id = 999999999<h1>

In [8]:
rating_df_clean = addrows(999999999, watched, rating_df_clean)

✅ Added 1 new ratings for user 999999999

In [9]:
rating_df_clean.loc[rating_df_clean['user_id'] == 999999999]

           user_id  anime_id  rating     anime_name
1435890  999999999     30276     9.0  One Punch Man

In [10]:
precomps(rating_df_clean)       # ← sets up all the globals

<h2>My dear, we shall see how your recommendations are now that we have something to go off of.  <h2>

In [11]:
recs = HybridCF(999999999, rating_df_clean)

In [12]:
recs

                         anime_name  anime_id
0          Kishuku Gakkou no Juliet     37475
1  Shigatsu wa Kimi no Uso: Moments     28069
2         Boku no Sexual Harassment       755
3                  Kaijuu no Kodomo     37981
4                       Nyanko Days     34148
5              Tanoshii Muumin Ikka      2150
6  School Rumble: Ichi Gakki Hoshuu       517
7               Yuukoku no Moriarty     40911
8                 Bohemian Rhapsody      8939
9                     Paradise Kiss       322

<h2>Lets see how the recommendations change after you rate some more animes<h2>

In [13]:

for i in range(3):
    watched.append(input("Enter the name of the animes you have watched: "))

rating_df_clean = addrows(999999999, watched, rating_df_clean)
precomps(rating_df_clean)

 You have already rated 'One Punch Man' — skipping
 '' not found — skipping
 '' not found — skipping
 '' not found — skipping
No new ratings added.

KeyboardInterrupt:

In [36]:
rating_df_clean.tail()

           user_id  anime_id  rating          anime_name
1435889     353387     37259     7.0           Hanebado!
1435890  999999999     30276     6.0       One Punch Man
1435891  999999999      6512    10.0           Nyan Koi!
1435892  999999999      5958     7.0  Sora no Otoshimono
1435893  999999999      1535     9.0          Death Note

In [37]:
recs = HybridCF(999999999, rating_df_clean)

In [38]:
recs

                                         anime_name  anime_id
0                                           Monster        19
1                                    Tsuki ga Kirei     34822
2                                         Samurai 7       166
3               Rainbow: Nisha Rokubou no Shichinin      6114
4                                 Mob Psycho 100 II     37510
5                                          Beastars     39195
6                                Ishuzoku Reviewers     40010
7                                Night Head Genesis      1243
8                                        Over Drive      2112
9  Kochira Katsushikaku Kameari Kouenmae Hashutsujo      3545

In [ ]:
# Nyan Koi!
# Sora no Otoshimono
# Death Note